@import "./theme.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #8064fd, #f39b93);
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  display: grid;
  text-align: center;
  justify-items: center;
  // align-items: center;
}

.app {
  h1 {
    font-weight: 800;
    color: var(--primary-brand-color);
  }
}
