.weather {
  .location {
    font-size: 2rem;
  }

  .small-info {
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  .details {
    display: grid;
    grid-template-columns: 75% 25%;
  }

  .info {
    text-align: left;
    align-self: stretch;
    padding: 5px;
  }

  .icon {
    align-self: center;
  }

  .icon img {
    width: 100px;
    height: 100px;
  }

  .vitals {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .vitals > div {
    box-shadow: 0px 0px 5px #e6e6e6;
  }
}
